<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Rainbow Comics</title>{% endblock %}
  <meta charset = "utf-8">
  {% load static %}
  <meta name    = "viewport" content="width=device-width, initial-scale=1">
  <link   rel   =  "stylesheet" href="{% static 'css/styles.css' %}">
  <link   href  =  "css/menubootstrap.min.css" type="text/css" real="stylesheet">
  <link   rel   = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src   = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src   = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    body {
      font-family: Arial;
    }

    input {
      float: left;
      width: 200px;
      margin-bottom: 10px;
    }

    label {
      clear: both;
      float: left;
      width: 180px;
    }

    button {
      clear: both;
      float: left;
      width: 50px;
    }

    .error-control {
      border: 1px solid red;
    }

    label.error {
      color: red;
      width: 300px;
      font-size: 0.8em;
      margin-top: -5px;
      margin-bottom: 10px;
    }

  </style>
</head>

<body>
    <!--BARRA-->
    {% block sidebar %}
<nav class="navbar navbar-expand-sm navbar-light bg-danger ">
      <button class="navbar-toggler" type="button" data-toggles="collapse" data-target="#opciones">
          <span class="navbar-toggler-icon"></span>
      </button> 
    
    <!--LOGO-->
    <a class = "navbar-brand" href="W">
        <img src = "{% static 'imagenes/logoprin.png' %}" class="rounded-circle" width ="55" height="45" alt="">
    </a>

  <!--ENLACES-->

    <!--OPCION 1-->
    <div class="collapse navbar-collapse" ide="opciones">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{%url 'index'%}" >Menu Inicio</a>
            </li>

    <!--OPCION 2-->    
            <li class="nav-item">
                <a class="nav-link" href="{%url 'estante.html'%}">Estante Comics</a>
            </li>  
    
    <!--OPCION 3-->    
            <li class="nav-item">
                <a class="nav-link" href="{%url 'compra.html'%}">Comprar</a>
            </li> 

    <!--OPCION 4-->    
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
</nav>
  {% block content %}
    
  {% endblock %}
    <footer>
      <p>©Todos los derechos reservados Rainbow Comics. </p>
      <p>2020</p>
    </footer>
  
</body>
</html>