{% exend 'base_generic.html' %}
{% load crispy_forms_tags %}
{% block content %}

<p> Bienvenido a <em>Local Comic</em></p>
<h2>login</h2>
<form method="post" 
      class="formulario rounded px-5">
   {% csrf_token %}
   <div class="formulario-label">
       {{ form.usuario }}
         <label for="usuario">
            Escriba Usuario
         </label>
   </div>
   <div class="formulario-label">
       {{ form.contra }}
         <label for="pass">
            Escribir Contraseña
         </label>    
   </div>
   <button 
         type="submit" 
         class="btn btn-dark"
         >Iniciar Sesion
   </button>
</form>
{% endblock %}