{% exend 'base_generic.html' %}
{% block content %}
<section>
    <div class="container">
        <div>
            <div class="row">
                <div class="col-md">
                    <div class="card text-center"> 
                        <div class="card-body">
                            <p >Comic Rainbows</p>
                            {% if user.is_authenticated %}
                                <h3 >Bienbenido {{ user.usuario1}}</h3>
                            {% else %}
                                <p >Tu no estas Registrado</p>
                                <a href="{% url 'login' %}">Loguearse</a>
                            {% endif %}          
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div> 
</section>
{% endblock %}