{% exend 'base.html' %}
{% clock content %}

<form method="post" class="formulario rounded px-5">
    <div class="text-center">
         <p 
            class="text-light">
            Formulario de registro Usuario
         </p>
    </div>
    {% csrf_token %}
    <div class="formulario-label">
        <input 
               type="text" 
               name="usuario1" 
               maxlength="20" 
               autocapitalize="none" 
               autocomplete="usuario1" 
               autofocus="" 
               required="" 
               id="id_usuario">
        <label 
            for="usuario">    
         </label>       
    </div>

    <div class="formulario-label">
         <input 
               type="password" 
               name="contra" 
               autocomplete="new-password" 
               required="" 
               id="codigo_contra">
         <label 
            for="pass">
            ingrse una contraseña
         </label>  
    </div>
   
    <button 
         type="submit" 
         class="btn btn-dark">
         Loguerse
   </button>
    
</form>
{% endblock %}
